.image-animation {
    animation: imageRotate 4s linear infinite, imageZoom 6s ease-in-out infinite;
  }
  
  @keyframes imageRotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes imageZoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .icon-wrapper {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: green;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .icon-wrapper:hover {
    background-color: teal;
  }
  
  .icon-wrapper .icon {
    color: teal;
    font-size: 24px;
  }